<!DOCTYPE html>

<html>
    <meta charset="uft-8">
     <head>
        <img src="memes.htm.gif" height="50%" width="101%"></>
     <body style="background-color:purple;">
    </body>    <title>primeiro site</title>
    
     </head>
                      
     <body>

      <h2 class="headline"> Esta é minha primeira pagina feita por html </h2>   
         <h1 style="color:cyan;" align="center">CAT MEMES</h1>
              
          
         <img src="oi.jpg" height="300" width="300"> <img src="oii.jpg" height="300" width="250"> <img src="oiii.jpg" height="300" width="300"> <img src="oiiiii.jpg" height="300" width="380">
        <img src="cat 3.jpg" height="300" width="300"> <img src="cat3.jpg.jpg" height="300" width="300"> <img src="gato8.jpg" height="300" width="300"> <img src="gato98.jpg" height="300" width="300">
          <p>
              
                            
              </b>
          </p>
          <p>
              
          </p>

     </body>
</html>     

              


  <head>
    <title> my dick!</title>
  </head>

  <body>
    <main>
      <div class="logo"> 
        
      </div>

    <h1 style= "color:cyan"align="center">DOG MEMES</h1>
    
    

      <img src="dog.jpg4.jfif">=-=-=-=<img src="dog.jpg" height="300" width="300"></>=-=-=-<img src="dog.jpg3.jpeg" height="50%" width="300"></>=-=-=-<img src="dog.jpg2.jpeg" height="50%" width="230"> <img src="chr.jpg" height="50%" width="230">
      <img src="dog4.webp" height="300" width="300"> <img src="dog2.jpg" height="300" width="300"> <img src="dog3.jpg" height="50%" width="300"><img src="dog1.jpg" height="8%" width="300"></>
     
    <h1 style= "color:cyan"align="center">MEMES HORSE</h1>
     <img src="pit.jpg" height="50%" width="300"> <img src="pit1.jpg" height="50%" width="300"> <img src="pit2.jpg" height="50%" width="300">
     <img src="pit3.jpg" height="50%" width="300"> 
     <img src="pit4.jpg" height="300" width="300"> 
     <img src="pit5.jpg" height="300" width="300">
     <img src="pit6.jpg" height="300" width="300"> 
     <img src="cavalo.jpg" height="300" width="300">



     <h1 style= "color:cyan"align="center"> BIRD MEMES </h1>
     <img src="ps.jpg" height="50%" width="300"> 
     <img src="ps2.jpg" height="300" width="300"> 
     <img src="ps4.jpg" height="300" width="300">
     <img src="bird8.jpg" height="300" width="300"> 
     <img src="bird88.jpg" height="300" width="300">
     <img src="nego.jpg" height="300" width="300">
     <img src="feio.jpg" height="300" width="300">
     <img src="quero.jpg" height="300" width="300">